.main {
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 80px;
  letter-spacing: 1.2;
  font-weight: 100;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

p {
  color: white;
  font-size: 15px;
  letter-spacing: 1.2;
  font-weight: 200;
}

a {
  color: white;
}
